form{
background-image:url('https://st4.depositphotos.com/5624298/22352/i/450/depositphotos_223521874-stock-photo-top-view-colored-candies-yellow.jpg');
background-size: 100%;
margin-left:100px;
margin-right:200px;
}
.shop{
    text-align: center;
}
.form{
    background-color: azure;
}
.menu{
    text-align:center;
}


